{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.6",
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["@loadable/babel-plugin", "react-hot-loader/babel"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": "3.6",
            "targets": {
              "node": true
            }
          }
        ]
      ]
    }
  }
}
